.icon {
  width: 36px;
}

.get-the-code {
  pre,
  code {
    background-color: $neutral-40;
    @include text-shadowed;
  }

  pre {
    padding: $spacing/2 $spacing;
  }
}

.dark-panel {
  background-color: transparentize($neutral-90, 0.9);

  &.border,
  .border {
    border: $border-width solid $neutral-30;
  }

  hr {
    background-color: $neutral-30;
  }

  .input,
  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    border: $border-width solid $neutral-30;
  }

  margin-bottom: $spacing;
}

.light-panel {
  background-color: transparentize($lightest-color, 0.7);
  margin-bottom: $spacing;
}

.highlight-container {
  padding: $spacing/2;
}

.highlighted {
  @include box-shadow(transparentize($teal, 0.1) 0px 0px $spacing);
  border-color: transparentize($teal, 0.5);
}
