<form class='row'>
  <div class='inner border rounded'>
    <h4>
      <label class='row' for='body'>
        {{label}}
      </label>
    </h4>

    <div class='input-container'>
      <textarea class='size-1-1' name='body' placeholder='{{placeholder}}'>{{body}}</textarea>
    </div>

    <div class='row character-limit-message-container'>
    </div>

    <input type='submit' class='save unit' value='Save &amp; Share'>
  </div>
</form>
