<div class='page-element content'>
  <div class='inner'>
    <h1>H1: Headline</h1>
    <h2>H2: Headline</h2>
    <h3>H3: Headline</h3>
    <h4>H4: Headline</h4>
    <p>
      This is the shipd style guide of things vaguely possible. Enjoy the paragraph.
    </p>

    <div class='row'>
      <p>This is not so mobile first, but whatever it is just to see the colors of available buttons as you tweek.</p>
      <div class='unit size-1-3'>
        <div class='inner .background-light'>
          <a class='button primary'>Primary</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button neutral'>Neutral</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button accent'>Accent</a>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button accent-2'>Accent 2</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button info'>Info</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button info-2'>Info 2</a>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button warn'>Warn</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button error'>Error</a>
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner'>
          <a class='button disabled'>Disabled</a>
        </div>
      </div>
    </div>

    <hr class='row'>

    <div class='row'>
      <div class='unit size-1-3'>
        <div class='inner background-light border rounded'>
          background-light <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-dark light-text border rounded'>
          background-dark light-text <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-primary light-text border rounded'>
          background-primary light-text <br>border rounded
        </div>
      </div>

    </div>
    <div class='row'>
      <div class='unit size-1-3'>
        <div class='inner background-accent border rounded'>
          background-accent <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-accent-2 light-text border rounded'>
          background-accent-2 light-text <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-info border rounded'>
          background-info<br>border rounded
        </div>
      </div>

    </div>
    <div class='row'>
      <div class='unit size-1-3'>
        <div class='inner background-info-2 border rounded'>
          background-info-2 <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-warn light-text border rounded'>
          background-warn light-text <br>border rounded
        </div>
      </div>
      <div class='unit size-1-3'>
        <div class='inner background-error light-text border rounded'>
          background-error light-text<br>border rounded
        </div>
      </div>
    </div>

    <hr class='row'>

    <h4>Colored Text</h4>

    <p class='primary-text'>Primary text</p>
    <p class='accent-text'>Accent text</p>
    <p class='accent-2-text'>Accent 2 text</p>
    <p class='info-text'>Info text</p>
    <p class='info-2-text'>Info 2 text</p>
    <p class='warn-text'>Warn text</p>
    <p class='error-text'>Error text</p>


  </div>
</div>
